<mat-card>
    <form [formGroup]="tunesForm" (ngSubmit)="onTunesSubmit()">
        <div class="form-row">
          <label for="file">File</label>
          <input type="file" formControlName="file" accept=".mp3" />
        </div>
        
        <div class="form-row">
          <label for="thumbnail">Thumbnail</label>
          <input type="file" formControlName="thumbnail" accept=".jpg, .jpeg" />
        </div>
      
        <div class="form-row">
          <label for="fileName">File Name</label>
          <input type="text" formControlName="fileName" />
        </div>
      
        <div class="form-row">
          <label for="description">Description</label>
          <textarea formControlName="description"></textarea>
        </div>
      
        <div class="form-row">
          <label for="album">Album</label>
          <input type="text" formControlName="album" />
        </div>
      
        <div class="form-row">
          <label for="author">Author</label>
          <input type="text" formControlName="author" />
        </div>
      
        <div class="form-row">
          <label for="hashtags">Hashtags</label>
          <mat-form-field appearance="fill">
            <mat-label>Select Hashtags</mat-label>
            <mat-select formControlName="hashtags" multiple>
              <mat-option *ngFor="let hashtag of musicHashtags" [value]="hashtag">{{ hashtag }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      
        <button type="submit" [disabled]="tunesForm.invalid">Submit</button>
      </form>
    
</mat-card>
